<style>
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300);
@import url(https://fonts.googleapis.com/css?family=Lusitana:400,700);

// Helpers
@mixin clearfix {
   &:after {
      content: "";
      display: table;
      clear: both;
  }
}

.contact-form {
}
   .form-field {
      position: relative;
      margin: 32px 0;
   }
   .input-text {
      display: block;
      width: 100%;
      height: 36px;
      border-width: 0 0 2px 0;
      border-color: #000;
      font-family: Lusitana, serif;
      font-size: 18px;
      line-height: 26px;
      font-weight: 400;
      
   }
   .input-text:focus {
     outline: none;
     border-bottom: solid #00acee;
     + .label {
            font-size: 30px;
         }
   }
   .label {
      position: absolute;
      left: 20px;
      bottom: 11px;
      font-family: Lusitana, serif;
      
      line-height: 26px;
      font-weight: 400;
      color: #888;
      cursor: text;
      transition: transform .2s ease-in-out;
   }
   .input-text:focus + label {
      position: absolute;
      left: 20px;
      bottom: 11px;
      font-size: 50px;
      font-family: Lusitana, serif;
      line-height: 26px;
      font-weight: 400;
      color: #888;
      cursor: text;
      transition: transform .2s ease-in-out;
   }
   .input-test.not-empty + label {
     font-size: 1px;
   }
   #name-label {
      position: absolute;
      left: 20px;
      bottom: 11px;
      font-family: Lusitana, serif;
      font-size: 18px;
      line-height: 26px;
      font-weight: 400;
      color: #888;
      cursor: text;
      transition: transform .2s ease-in-out;
      transition: 2.5s;
   }
   #name-label.active {
      position: absolute;
      left: 20px;
      bottom: 24px;
      font-family: Lusitana, serif;
      font-size: 14px;
      line-height: 26px;
      font-weight: 400;
      color: #888;
      cursor: text;
      transition: transform .2s ease-in-out;
      transition: 2.5s;
   }
#anime_test{
    height: 100px;
    width: 100px;
    background-color: #F44336;
    position: relative;
    left: 0;
    transition: 2.5s;
}
#anime_test.active {
    background-color: #2196F3;
    left: calc(100% - 100px);
}

.anime_test-btn {
    margin-top:  10px;
    display:  inline-block;
    padding:  5px 10px;
    border: solid 1px;
    cursor:  pointer;
}
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$( '.js-input' ).keyup(function() {
  if( $(this).val() ) {
     $(this).addClass('not-empty');
  } else {
     $(this).removeClass('not-empty');
  }
});

function clickTest() {
      target = document.getElementById("anime_test");
      target2 = document.getElementById("name-label");
      if (target.className == null || target.className=="") {
        target.className = "active";
        target2.className = "active";
      } else {
        target.className = "";
        target2.className = "";
      }
    }

</script>

   <h1 class="title">Get in touch</h1>
   <form class="contact-form row">
      <div class="form-field">
         <input id="name" class="input-text js-input" type="text" required >
         <label id="name-label" for="name">Name</label>
      </div>
      <div class="form-field">
         <input id="email" class="input-text js-input" type="email" required>
         <label class="label" for="email">E-mail</label>
      </div>
      <div class="form-field">
         <input id="message" class="input-text js-input" type="text" required>
         <label class="label" for="message">Message</label>
      </div>
      <div class="form-field">
         <input class="submit-btn" type="submit" value="Submit">
      </div>
   </form>

<div id="anime_test">
</div>
<div class="anime_test-btn" onclick="clickTest();">
    ボタン
</div>