<h1>Contact Form</h1>

<form action="">

  <input type="text" placeholder="Name" name="name" required>

  <input type="email" placeholder="Email" name="email" required>

  <textarea placeholder="Message" name="message" required></textarea>

  <input type="submit" value="Send">

</form>
<style>
form {
  width: 50%;
  margin: 10% auto;
  min-width: 9rem;
}
  
input, textarea {
  float: left;
  width: 100%;
  max-width: 100%;
  border: none;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  background: darken(#f9f9f9, 10%);
  color: darken(#f9f9f9, 50%);
  
  &[type=submit] {
    background: $green;
    color: #fff;
    width: auto;
    float: right;
  }

  &::placeholder {
    color: darken(#f9f9f9, 50%);
  }

textarea {
  height: 10rem;
}

</style>