// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



//bird-icon
.bird {
    margin: 0px auto;
    position: relative;
    height: 10vh;
    width: 10vh;
    background-color: white;
    overflow: hidden;
}
.beak1 {
    position: absolute;
    top: -4.1vh;
    left: 7.4vh;
    height: 10vh;
    width: 10vh;
    border-radius: 50%;
    background-color: transparent;
    overflow: hidden;
}
.beak1-element1 {
    position: absolute;
    background-color: rgb(25, 165, 247);
    height: 300%;
    width: 300%;
    top: -200%;
    left: -230%;
    border-radius: 50%;
}
.beak1-element2 {
    position: absolute;
    background-color: white;
    height: 320%;
    width: 320%;
    top: -251%;
    left: -180%;
    border-radius: 50%;
}
.beak2 {
    position: absolute;
    top: -4.7vh;
    left: 7.3vh;
    height: 10vh;
    width: 10vh;
    border-radius: 50%;
    background-color: transparent;
    overflow: hidden;
}
.beak2-element1 {
    position: absolute;
    background-color: rgb(25, 165, 247);
    height: 300%;
    width: 300%;
    top: -200%;
    left: -229%;
    border-radius: 50%;
}
.beak2-element2 {
    position: absolute;
    background-color: white;
    height: 320%;
    width: 320%;
    top: -251%;
    left: -179%;
    border-radius: 50%;
}
.body {
    position: absolute;
    top: 3vh;
    left: 0vh;
    height: 10vh;
    width: 10vh;
    background-color: transparent;
    overflow: hidden;
}
.body-element1 {
    position: absolute;
    background-color: rgb(25, 165, 247);
    height: 85%;
    width: 85%;
    top: -35%;
    left: -3%;
    border-radius: 50%;
}
.body-element2 {
    position: absolute;
    background-color: white;
    height: 100%;
    width: 100%;
    top: -50%;
    left: -50%;
    border-radius: 50%;
}
.head {
    position: absolute;
    top: -7vh;
    left: 0vh;
    height: 10vh;
    width: 10vh;
    background-color: transparent;
    overflow: hidden;
}
.head-element {
    position: absolute;
    background-color: rgb(25, 165, 247);
    height: 31.8%;
    width: 31.8%;
    top: 85%;
    left: 50%;
    border-radius: 50%;
}
.wing1 {
    position: absolute;
    top: -2vh;
    left: -5vh;
    height: 10vh;
    width: 10vh;
    border-radius: 50%;
    background-color: transparent;
    overflow: hidden;
}
.wing1-element1 {
    position: absolute;
    background-color: rgb(25, 165, 247);
    height: 40%;
    width: 60%;
    top: 50%;
    left: 65%;
    border-radius: 50%;
}
.wing1-element2 {
    position: absolute;
    background-color: white;
    height: 300%;
    width: 300%;
    top: -220%;
    left: -85%;
    border-radius: 50%;
}
.wing2 {
    position: absolute;
    top: -2vh;
    left: -5vh;
    height: 10vh;
    width: 10vh;
    background-color: transparent;
    border-radius: 50%;
    overflow: hidden;
}
.wing2-element1 {
    position: absolute;
    background-color: rgb(25, 165, 247);
    height: 40%;
    width: 40%;
    top: 41%;
    left: 64%;
    border-radius: 50%;
}
.wing2-element2 {
    position: absolute;
    background-color: white;
    height: 300%;
    width: 300%;
    top: -233%;
    left: -87%;
    border-radius: 50%;
}
.wing3 {
    position: absolute;
    top: -2vh;
    left: -5vh;
    height: 10vh;
    width: 10vh;
    background-color: transparent;
    border-radius: 50%;
    overflow: hidden;
}
.wing3-element1 {
    position: absolute;
    background-color: rgb(25, 165, 247);
    height: 42%;
    width: 50%;
    top: 30%;
    left: 63%;
    border-radius: 50%;
}
.wing3-element2 {
    position: absolute;
    background-color: white;
    height: 30%;
    width: 60%;
    top: 25%;
    left: 63%;
    border-radius: 50%;
}


//form
.title {  
    width: 100%; 
    text-align: center;
}
.field {
    width: 350px;
    margin: 15px auto;
    position: relative;
    height: 45px;
    background-color: #f2f7f8;
}
.file-field {
    width: 350px;
    margin: 0px auto;
    position: relative;
    height: 300px;
    background-color: #f2f7f8;
}

//通常時の処理
#name-field,
#email-field,
#password-field,
#password-confirmation-field,
#new-password-field {
    height: 35px;
    position:absolute;
    top: 10px;
    border: none;
    border-bottom: 1px solid black;
    background-color: #f2f7f8;
}
#name-field + label,
#email-field + label,
#password-field + label,
#password-confirmation-field + label,
#new-password-field + label {
    position: absolute;
    top: 12px;
    left: 5px;
    font-size: 15px;
    color: #A9A9A9;
    pointer-events: none;
    transition: 0.3s;
}
//フォームにfocusが当たっている時の処理
#name-field.active,
#email-field.active,
#password-field.active,
#password-confirmation-field.active,
#new-password-field.active {
    outline: none;
    border-bottom: 1px solid rgb(25, 165, 247);
}
#name-field.active + label,
#email-field.active + label,
#password-field.active + label,
#password-confirmation-field.active + label,
#new-password-field.active + label {
    position: absolute;
    top: 3px;
    left: 3px;
    font-size: 10px;
    color: rgb(25, 165, 247);
}
//フォームに値が入っている時の処理
#name-field.filled,
#email-field.filled,
#password-field.filled,
#password-confirmation-field.filled,
#new-password-field.filled {
    outline: none;
    border-bottom: 1px solid black;
}
#name-field.filled + label,
#email-field.filled + label,
#password-field.filled +label,
#password-confirmation-field.filled + label,
#new-password-field.filled + label {
    position: absolute;
    top: 3px;
    left: 3px;
    font-size: 10px;
    color: #A9A9A9;
}




.file-label {
    font-size: 10px;
    color: #A9A9A9;
}
.actions {
    margin-top: 15px;
    text-align: center;
}
.submit {
    height:40px;
    background-color: rgb(84, 189, 250);
    width: 350px;
    margin: 0px auto;
    border-radius: 20px;
    border: none;
    outline: none;
    color: #fff;
}


//link-container
.link-container {
    display: flex;
    justify-content: center;
    margin: 10px;
    font-size: 12px;
}